# Server Configuration
PORT=5000

# GitHub API (no token needed for public repos)
GITHUB_TOKEN=

# IBM watsonx.ai Configuration
WATSONX_API_KEY=3RDOeOH1xnH-1SjEudhYa2Bdu3D41wB_1fGpY9poGOX6
WATSONX_PROJECT_ID=0de1068f-109b-43b5-8fd9-234590a23976
WATSONX_URL=https://us-south.ml.cloud.ibm.com

# CORS
FRONTEND_URL=http://localhost:3000